6th SEM/ITA/Assignment2/q2.dtd

<!ELEMENT bookstore (book+)>
<!ELEMENT book (title,author,year,price)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT price (#PCDATA)>

<!ATTLIST book category (COOKING|CHILDREN|WEB|GENERAL) "general">
<!ATTLIST book id ID #REQUIRED>
<!ATTLIST title lang CDATA #FIXED "en">